*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

.header{

   display: flex;
   justify-content:  center;
   align-items: center;
   margin-top: 1rem;
   margin-left: 0.90rem;

}



h3{
    color: white;
    font-size: 1rem;
    margin-top: 20px;
    margin-right: 10px;
}

.logo{

    margin-right: 20px;
    margin-bottom: 10px;
    width: 3.43rem;
    height: 3.43rem;
}

#cor li:nth-child(6) a{
    color: #f45309;
}


.menu{

    
    margin: 50px;
    color: white;
    
    
}


ul{
    list-style: none;/*List style none, usado para retirar o ponto da lista de menu*/
    display: flex;
}

body{
    background-color: #141B2B;
}



.title{
    margin-left: 100px;
    color: white;

}

article{

    display: flex;
    
    justify-content: center;
    color: white;
}

.photo{
    
    background-color: rgb(30, 30, 31);
    width: 560px;
    height: 700px;
}

.photo1{
    
    position: relative;


}

.discrition {
    position: absolute;
    top: 90%; /* Ajuste a posição vertical do texto conforme necessário */
    left: 60%; /* Ajuste a posição horizontal do texto conforme necessário */
    transform: translate(-50%, -50%); /* Centralize o texto no contêiner */
    z-index: 1; /* Coloque o texto acima da imagem */
    color: white; /* Defina a cor do texto */
    font-size: 25px; /* Defina o tamanho da fonte */
    font-family: Arial, sans-serif; /* Defina a fonte desejada */
    background: rgba(63, 60, 60, 0); /* Adicione um fundo semitransparente ao texto, para torná-lo legível */
    padding: 9px; /* Adicione preenchimento para melhorar a legibilidade */
    width: 80%;
    border-radius: 40px;
    
}   

.discrition1{
    position: absolute;
    top: 114%; /* Ajuste a posição vertical do texto conforme necessário */
    left: 50%; /* Ajuste a posição horizontal do texto conforme necessário */
    transform: translate(-50%, -50%); /* Centralize o texto no contêiner */
    z-index: 1; /* Coloque o texto acima da imagem */
    color: white; /* Defina a cor do texto */
    font-size: 25px; /* Defina o tamanho da fonte */
    font-family: Arial, sans-serif; /* Defina a fonte desejada */
    background: rgba(63, 60, 60, 0.0); /* Adicione um fundo semitransparente ao texto, para torná-lo legível */
    padding: 10px; /* Adicione preenchimento para melhorar a legibilidade */
    width: 24%;
    border-radius: 50px;
}





.discrition2{

    position: absolute;
    top: 115%; /* Ajuste a posição vertical do texto conforme necessário */
    left: 85.4%; /* Ajuste a posição horizontal do texto conforme necessário */
    transform: translate(-50%, -50%); /* Centralize o texto no contêiner */
    z-index: 1; /* Coloque o texto acima da imagem */
    color: white; /* Defina a cor do texto */
    font-size: 25px; /* Defina o tamanho da fonte */
    font-family: Arial, sans-serif; /* Defina a fonte desejada */
    background: rgba(63, 60, 60, 0); /* Adicione um fundo semitransparente ao texto, para torná-lo legível */
    padding: 10px; /* Adicione preenchimento para melhorar a legibilidade */
    width: 24%;
    border-radius: 50px;

}

.linked{
    width: 80px;
    height: 80px;
    color: rgb(127, 116, 116, 0);
}