*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.header{

    display: flex;
    justify-content: center;
    align-items: center;/*Align items centraliza os items no centro*/
    


}


.menu{

    
    margin: 55px;
    color: white;
    
    
}


.espaçamento{

    margin-left: 100px;

}

.espaçamento1{
    
    margin: 50px;
    margin-left: 100px;
    

}

body {
    /* Define a imagem de fundo e suas propriedades */
    background-image: url("fundo-paginas.png");
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o fundo */
    background-position: center; /* Posiciona a imagem no centro do fundo */
    /* Adicione outras propriedades conforme necessário */
    color: white; /* Cor do texto */
}


.Conteudo-principal{/*div Pai ela controla a direção dos conteudos filhos*/

    display: flex;/*Display define que vai ser em linha seu conteudo*/
    justify-content: space-around;
    text-align: center;
    
    
    

}

.Missão{

    width: 450px;
    height: 250px;
    background-color:   rgb(128, 128, 128,0.2);
    border-radius: 50px;
    
}

.Visão{

    width: 450px;
    height: 250px;
    background-color:   rgb(128, 128, 128,0.2);
    border-radius: 50px;
}

.Valores{

    display: block;
    justify-content: space-around;
    top: 50px;
    width: 450px;
    height: 250px;
    background-color:   rgb(128, 128, 128,0.2);
    border-radius: 50px; /* pixels é uma escala de medição, border radius é uma propriedade do css, que deixa redondo os baguio*/

/*Para deixar transparente usar rgb e adicionar um 4º numero selecionando a escala de transparencia.*/
}


.rodapeimg{

    width: 50px;
    height: 50px;
    

}

.icons{

    display: flex;
    justify-content: center;
    margin: 10px;

}