*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.header{

    display: flex;
    justify-content: space-between;
    


}
a{
    color: white;
}

body {
    /* Define a imagem de fundo e suas propriedades */
    background-image: url("fundo-paginas.png");
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o fundo */
    background-position: center; /* Posiciona a imagem no centro do fundo */
    /* Adicione outras propriedades conforme necessário */
    color: white; /* Cor do texto */
}

.Conteudo-principal{

    background-color: gray;
    display: flex;
    

}